# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
docker-compose.override.yml

# Database / files
*.sqlite3
*.db
data/
logs/

# Node (if frontend later)
node_modules/
